* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    background-color: red;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 3.125rem;
    text-align: center;
}

form {
    background-color: white;
    color: darkred;
    height: 12.5rem;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    font-weight: bold;
    border-radius: .3125rem;
    border: 2px solid black;
}

.row {
    display: flex;
    justify-content: center;
}

.box {
    margin: 0 1.875rem;
    margin-bottom: 2.5rem;
}
label {
    display: block;
    margin-bottom: 1.25rem;
}

button {
    margin: 0 1.25rem;
    font-size: 1.25rem;
    padding: .3125rem;
    color: darkred;
    border-radius: .3125rem;
}

input,select {
    border: 2px solid darkred;
    padding: .3125rem;
    border-radius: .3125rem;
}

.ticket {
    background-color: white;
    color: black;
    text-align: left;
    padding: 1.875rem;
}

.ticket-hidden {
    display: none;

}

.ticket > .row {
    justify-content: space-between;
}

.col-small {
    background-color: grey;
    padding: 1.25rem;
    width: 25%;
}

.col-big {
    width: 75%;
}

.col-big {
    justify-content: space-evenly;
    padding-top: .625rem;
}

.my.ticket {
    display: block;
}